@import url(fields/index.css);

.main-container{
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    
    h2{
        font: 700 2.8rem/normal var(--font-baloo2);
        color: var(--text-heading);
        margin-bottom: 4rem;
    }
    .details-event{

        .form-heading{
            display: flex;
            align-items: center;
            gap: 1.2rem;
            margin-bottom: 2.4rem;
    
            .calendar-icon{
                fill: var(--input-placeholder);
            }
            p{
                font: 700 1.8rem/2rem var(--font-baloo2);
                color: var(--text-heading);
            }
        }

        .multiple-inputs{
            display: grid;
            gap: 1.6rem;
            grid-template-areas:
            "titulo titulo"
            "inicio fim"
            "tipo local"
            "textarea textarea";

            .titulo{
                grid-area: titulo;
            }
            .inicio{
                grid-area: inicio;
            }
            .fim{
                grid-area: fim;
            }
            .tipo{
                grid-area: tipo;
            }
            .local{
                grid-area: local;
            }
            .text-area{
                grid-area: textarea;
            }
        }
    }
}