@import url(fields/index.css);

.main-container{
    
    h2{
        font: 700 2.8rem/normal var(--font-baloo2);
        color: var(--text-heading);
        margin: 8rem 0 4rem;
    }
    /*primeira parte do form*/
    .details-event{

        .multiple-inputs{
            display: grid;
            gap: 1.6rem;
            grid-template-areas:
            "titulo titulo"
            "inicio fim"
            "tipo local"
            "textarea textarea";

            .titulo{
                grid-area: titulo;
            }
            .inicio{
                grid-area: inicio;
            }
            .fim{
                grid-area: fim;
            }
            .tipo{
                grid-area: tipo;
            }
            .local{
                grid-area: local;
            }
            .text-area{
                grid-area: textarea;
            }
        }
    }
    /*segunda parte*/

    .personalized{

        display: flex;
        flex-direction: column;
        gap: 2.8rem;

        .main-color{
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            .colors-wrapper{
                display: flex;
                gap: 1.2rem;

                .color:hover{
                    cursor: pointer;
                    svg rect:first-child{
                        fill: var(--brand-light);
                    }
                }

            }


        }
        .theme-event{
            p{
                margin-bottom: 1.6rem;
            }
            .theme-wrapper{
                display: flex;
                flex-wrap: wrap;
                gap: .8rem;
                .theme-card{
                    background-color: var(--shape-button);
                    padding: .4rem .3rem .8rem;
                    border-radius: .8rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: .8rem;
                    border: .125rem solid var(--shape-button);
                    
                    img{
                        border-radius: .8rem;
                    }
                    &:hover{
                        cursor: pointer;
                        border-color: var(--brand-light);
                    }
                }

            }
        }
    }
    .info-contact{
        .input-contact-wrapper{
            .input-wrapper{
                input[type="text"]{
                    border: .125rem solid var(--feedback-danger);
                    outline: 0;
                    &:hover{
                        border-color: var(--brand-light);
                    }
                }

                .error-message{
                    display: flex;
                    gap: .8rem;
                    margin-bottom: 1.6rem;
    
                    span{
                        font: 400 1.2rem/normal var(--font-open);
                        color: var(--feedback-danger);
                    }
                }
            }
            .multiple-contact-input{
                display: flex;
                gap: 1.6rem;
                
                input:hover{
                    border-color: var(--brand-light);
                }
            }
        }
    }
    .terms{
        border-top: .125rem solid var(--input-stroke);
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .input-checkbox-wrapper{
            width: 100%;
            padding-top: 4rem;
            display: flex;
            flex-direction: column;
            gap: .4rem;
            justify-content: center;
            margin-bottom: 4.8rem;
            
            div{
                display: flex;
                gap: 1.5rem;
                
                strong{
                    color: var(--brand-light);
                    cursor: pointer;
                    &:hover{
                        filter: brightness(50);
                    }
                }
            }
        }
        button{
            display: flex;
            gap: 1.2rem;
            height: 4rem;
            align-items: center;
            background-color: var(--brand-dark);
            border-radius: .8rem;
            padding: .4rem 2rem;
            margin-bottom: 8rem;
            
            &:hover{
                background-color: var(--brand-light);
                cursor: pointer;
            }
        }
    }
}