*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --font-leckerli: "Leckerli One";
    --font-baloo2: "Baloo 2";
    --font-open: "Open Sans", sans-serif;

    /* --text-leckerli: 400 4rem/auto var(--font-leckerli);
    
    --text-md-baloo: 700 2.8rem/auto var(--font-baloo2);
    --text-sm-baloo: 700 1.8rem/auto var(--font-baloo2);
    
    --text-md-open-regular: 400 1.6rem/auto var(--font-open);
    --text-sm-open-regular: 400 1.4rem/auto var(--font-open);
    --text-xs-open-regular: 400 1.2rem/auto var(--font-open);

    --text-md-open-semibold: 600 1.6rem/auto var(--font-open);
    --text-sm-open-semibold: 600 1.4rem/auto var(--font-open);
    --text-xs-open-semibold: 600 1.2rem/auto var(--font-open); */
    /**fonts**/

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    --feedback-danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9; 
}
body{
    font-size: 1.6rem;
    background-color: var(--shape-background);
    overflow: hidden;
}

#app, #aside, #main{
    border-radius: 1.6rem;
}